.contact__list {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 360px;
    
    
}

p.no-contacts {
    margin: 2rem auto 0rem auto;
    padding: 0rem 2rem 0rem 1rem;
    text-align: justify;
    font-family: $main;
    font-size: $sm;
    color: $text-secondary-color;
}
.contact__list i {
    margin: 0rem auto;
    padding: 2rem;
    font-size: $sm;
    color: $text-secondary-color;
    font-size: $xlg;
}